extends layout

block append scripts
  script(src='/scripts/FormHelpers.js')

block content
  h1= title
  p Welcome to #{title}

block upload
  form(
    id="uploadForm",
    method="post", 
    enctype="multipart/form-data"
  )
    fieldset
      p
        label(for="file") File:
        input(type="file", name="file", id="file", accept=".txt,.json,text/json" required)

      p
        input(type="submit", value="Upload")

      p
        output(name="result")

block reports
//-   if reportIds.length
//-     each repId in reportIds
//-       div
//-         a(href=`http://${dalUri}/${reportsEndpoint}/${repId}`) #{repId}
//-     else
//-       div
