extends layout

block append scripts
  script(src='/scripts/DalHealth.js')
  script.
    window.onload = function() {
      // Check DAL status
      const healthIcon = document.getElementById("healthIcon");
      healthIcon.addEventListener("click", function(event) {
        CheckDalHealth("#{dalUri}", "#{healthcheckEndpoint}")
          .then(res => {
            healthIcon.innerHTML = res ? '&#x1F7E2;' : '&#x1F7E5;';
          });
      },
      false);
      healthIcon.click();
    }

block content
  h1= title
  p Welcome to #{title}

block status
  p
  | DAL Status:
  |
  span#healthIcon &#x1F7E2;

block upload
  form#uploadForm(method="post", action="upload/")
    fieldset
      p
        label(for="file") File:
        input(type="file", name="file", id="file", accept=".txt,.json,text/json" required)

      p
        input(type="submit", value="Upload")

      p
        output(name="result", value=#{reportId})

block reports
//-   if reportIds.length
//-     each repId in reportIds
//-       div
//-         a(href=`http://${dalUri}/${reportsEndpoint}/${repId}`) #{repId}
//-     else
//-       div
