extends layout

block append scripts
  script(src='/scripts/FormHelpers.js')
  script(src='/scripts/DalHealth.js')
  script.
    window.onload = function() {
      // Overload form submit event handler.
      const form = document.querySelector("#uploadForm");
      form.addEventListener("submit", async function(event) {
        event.preventDefault();
        const formData = new FormData(form);
        const resultElement = form.elements.namedItem("result");
        if (ValidateFormData(formData)) {
          await SendFormData(formData, resultElement, "#{dalUri}", "#{uploadEndpoint}");
        }
      },
      true);

      // Check DAL status
      const healthIcon = document.getElementById("healthIcon");
      healthIcon.addEventListener("click", function(event) {
        CheckDalHealth("#{dalUri}", "#{healthcheckEndpoint}")
          .then(res => {
            healthIcon.innerHTML = res ? '&#x1F7E2;' : '&#x1F7E5;';
          });
      },
      false);
      healthIcon.click();
    }

block content
  h1= title
  p Welcome to #{title}

block status
  p 
  | DAL Status:
  |
  span#healthIcon &#x1F7E5;

block upload
  form#uploadForm(method="post")
    fieldset
      p
        label(for="file") File:
        input(type="file", name="file", id="file", accept=".txt,.json,text/json" required)

      p
        input(type="submit", value="Upload")

      p
        output(name="result")

block reports
//-   if reportIds.length
//-     each repId in reportIds
//-       div
//-         a(href=`http://${dalUri}/${reportsEndpoint}/${repId}`) #{repId}
//-     else
//-       div
